@{
    Layout = "_Layout";
}

<div class="container mt-5">
    <h2>Access Denied</h2>
    <p>You do not have permission to view this page.</p>
    <a href="/Home/Index" class="btn btn-primary">Go to Home</a>
</div>
