@section Scripts {
    <script>
        alert("Access Denied. You do not have permission to view this page.");
    </script>
}
<h1>Access Denied</h1>
<p>You do not have permission to view this page.</p>

